.footer {
  background-color: #101C21;
  color: #ffff;
  padding: 0 80px ;

  .footer_inner {
    display: flex;
    
  }
  .footer_group {
   &:nth-child(1){
    width: 40%;

    .footer_column{
      &:nth-child(2){
        padding:0 0 30px 0;
      }
    }
   }
   &:nth-child(2){
    width: 60%;
   }
    
  }
  .footer_column {
    padding:100px 0 30px 0;



    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    dt{
      color:  #878D90;
      padding-bottom: 16px;
      
      
    }
   dd{
    padding-bottom: 8px;
   a{
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;
    &:hover{
      opacity: .8;
    }
    

   }
  }
  }
  .btn-medium {
  }
  .footer_item {
    &:nth-child(1){
      display: flex;
      justify-content: space-between;
    }

    
  }
  .footer_title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
  }
  .footer_input {
    input{
      width: 460px;
      padding: 15px 10px;
      border-radius: 6px;
      margin: 32px 10px  0 0;
    }
    .btn{
      
      width: 160px;
    }
  }
  .footer_group_row {
    display: flex;
    justify-content: space-between;
    padding:60px 0 20px 0;
  }
  .footer_social {
    .social_icon{
      width: 16px;
      height: 16px;
      margin-right: 20px;
      fill:#9FA4A6;
      transition: all 0.3s ease;
     &:hover{
      fill: #61D7AC;
     }

    }

  }
  .footer_row {
    display: inherit;
    &:nth-child(2){
      a{
        margin-right: 20px;
        color: inherit;
        text-decoration: none;
        transition: all 0.2s ease;
        &:hover{
          color: #878D90;
        }
    }
    }
  }
}

// media 
//=============
@media screen and (max-width:1024px) {
  .footer {
    padding: 0px 5vw;
    .footer_group {
    .footer_input {
      display: flex;
      .btn{
        margin-top: 32px;
      }
      }
    }
    .footer_group_row {
      font-size: 1.757vw;
    }
    .footer_social {
      .social_icon{
        width: 2vw;
        height: 2vw;
      }
    }
    }
  }



@media screen and (max-width:768px) {
  .footer {
    padding: 0px 3vw;
    .footer_inner{
      display: block;
    }
    .footer_group {

      &:nth-child(1){
        width: 100%;
        display:flex;
        justify-content: space-around;
        .footer_column{
          &:nth-child(2){
            padding: 135px 0 30px 0;
            
          }
        }
      }
      &:nth-child(2){
        width: 100%;
        .footer_column{
          padding: 50px 0 30px 0 ;
        }
      }
       .btn-medium{
        margin-top: 130px;
      }
    .footer_group_row {
      font-size: 1.8vw;
    }
    }
  }
}

@media screen and (max-width:463px) {
  .footer {

    .footer_group {
     text-align: center;
      &:nth-child(1){
        display: block;
        .footer_column{
          &:nth-child(2){
            padding: 10px 0 10px 0;
          }
        }
      }

      &:nth-child(2){
        .footer_column{
          padding: 10px 0 10px 0;
          &:nth-child(1){
            padding-top: 20px;
          }
        }
      }
      .footer_column{
        padding: 10px 0 10px 0;
        &:nth-child(2){
          padding: 10px 0 0 0;
        }
        dt{
          padding-bottom: 12px;
        }
       }
       .btn-medium{
        margin-top: 5px;
       }

    .footer_item {  
            img{
        display: none;
      }
      display: block;
    }
    .footer_title {
    }
    .footer_input {
      input{
        width: 60vw;
      }
    }
    }
    .footer_group_row {
    
      .footer_social {
      
        .social_icon{
          width: 3vw;
          height: 4vw;
        }
    
      }
      }
  }
}
