.footer {
  background-color: #101C21;
  color: #ffff;
  padding: 0 80px ;

  .footer_inner {
    display: flex;
    
  }
  .footer_group {
   &:nth-child(1){
    width: 40%;

    .footer_column{
      &:nth-child(2){
        padding:0 0 30px 0;
      }
    }
   }
   &:nth-child(2){
    width: 60%;
   }
    
  }
  .footer_column {
    padding:100px 0 30px 0;



    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    dt{
      color:  #878D90;
      padding-bottom: 16px;
      
      
    }
   dd{
    padding-bottom: 8px;
   a{
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;
    &:hover{
      opacity: .8;
    }
    

   }
  }
  }
  .btn {
  }
  .btn-medium {
  }
  .footer_item {
    &:nth-child(1){
      display: flex;
      justify-content: space-between;
    }

    
  }
  .footer_title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
  }
  .footer_input {
    input{
      width: 460px;
      padding: 15px 10px;
      border-radius: 6px;
      margin: 32px 10px  0 0;
    }
    .btn{
      
      width: 160px;
    }
  }
  .footer_group_row {
    display: flex;
    justify-content: space-between;
    padding:60px 0 20px 0;
  }
  .footer_social {
   
    img{
    margin-right: 20px;
    
    }
  }
  .footer_row {
    display: inherit;
    &:nth-child(2){
      p{
        margin-right: 20px;
      
    }
    }
  }
}
