.nav{
  width: 100%;
  height: 120px;
  background-color: #ffff;



  .site_logo{
    margin: 40px 0 0 80px;
  }
  .nav_inner{
    display: flex;
    justify-content: space-between;
  }
  .nav_menu{
    display: flex;
    margin-top: 30px;


    .nav_menu_item{
       padding: 25px;
    }
    .nav_menu_item a{
      text-align:center;
      text-decoration: none;
      color: #000000;
      transition: all .5s ease;
    }
    .nav_menu_item a:hover{
      opacity: 0.6;
    }
  }
  .nav_button{
    display: flex;
    margin-top: 30px;
  }
  .search_button button{ 
    width:56px;
    height:56px;
    border-radius: 50%;

    background: none;

    cursor: pointer;
  }
  .search_button input{

    transform: scaleX(0);
  }

  .btn{

    transition: all 0.4s ease-in-out;
  }
  .btn:hover{
    background-color: #000000;
    color: #c005a7;
  }
}



.btn{
  width: 177px;
  height: 56px;
  border-radius: 40px;

  color: #ffff;
  background-color: #283337;
  cursor: pointer;

  font-size: 17px;
  line-height: 21px;
}
