
.nav{
  width: 100%;
  height: 120px;
  background-color: #ffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  .site_logo{
    margin: 40px 0 0 80px;
  }

  .nav_inner{
    display: flex;
    justify-content: space-between;
  }

  .nav_menu{
    display: flex;
    margin-top: 30px;




  }//nav_button
}
.nav {
  width: 100%;
  height: 120px;
  background-color: #ffff;

  .nav_inner {
    display: flex;
    justify-content: space-between;
  }
  .site_logo {
    margin: 40px 0 0 80px;
  }
  .nav_menu {
    display: flex;
    margin-top: 30px;
  }
  .nav_menu_item {
    padding: 25px;
  a{
   text-align:center;
   text-decoration: none;
   color: #000000;
   transition: all .5s ease;

    &:hover{
     opacity: 0.6;
   }
 }
}
  .nav_button {
    display: flex;
    margin-top: 30px;
    white-space: nowrap;
  }
  .search_button {
    width:56px;
    height:56px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    
    


    button{
      width:56px;
      height:56px;
      
      border-radius: 50%;
      background: none;
      cursor: pointer;
      transition: all 0.2s ease;
      .search_icon{
        width: 18px;
        height: 18px;
        transition: all 0.4s ease;
      }
      &:hover .search_icon{
        fill: #61D7AC;
      }
      &:hover{
        border:2px solid #61D7AC;
      }
    }

  }
  .inpute_search {
    transform: scaleX(0);
    transition: all 0.5s linear;
    height:30px;
    padding: 0px 5px 0 5px;
    border-radius: 20px;

    font-size: 16px;
    width: 0;
    &.active{
      transform: scaleX(100%);
      width: 180px;
    }
  }
  .btn {
    transition: all 0.4s ease-in-out;
    margin:0 30px 20px 40px;
    &.active{
      background-color: none;
      color: none;
      border: none;
      transform: scaleX(0);
    }
  }
}
  // медиа запросы
  @media screen and (max-width:1024px) {
  .nav {
    .site_logo {
      margin-left:10px;
      margin-right: 10px;
      
    }
    .nav_menu_item {
      padding: 25px 10px 25px 5px;
    }

    .btn {
      
      margin:0 10px 30px 30px;

    }
  }
  
}
@media screen and (max-width:768px) {
  .nav {
    display: none;
  }
}

// burger
//================================

.burger{
  display: none;
  background-color: #F1F1F1;
  text-align: center;
  color: black;
  position: relative;
  width:  calc(320px + 1120 * ((100vw - 320px) / (1440 - 320)));
  height: 40px;

#check-menu{
  display: none;

 &:checked~.main-menu{
    max-height: 500px;
    font-size: 16px;
  
  }
  &:checked~.burger-line-1{
      display: none;
  }
  &:checked~.burger-line-2{
    transform: rotate(45deg);
 }
 &:checked~.burger-line-3{
    transform: rotate(-45deg);
  }
  &:checked~.burger-line-4{
    display: none;
  }
}
  .burger img{
    width: 100px;
    position: absolute;
    top:5px;
    left:calc(120px + 580 * ((100vw - 320px) / (1440 - 320)));
  }
   .nav_content_block{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
  }
  .burger-line{
    position: absolute;
    top:8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: black;
    transition: all 0.8s ease;
  }
  .burger-line-2, .burger-line-3{
    top: 18px;
  }
  .burger-line-4{
    top: 28px;
  }
  .main-menu{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    z-index: 1000;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition:  0.8s ease;
  }
  .main-menu-item{
    display: block;

    width: 100%;
    padding: 10px 0;
    color: black;
    text-decoration: none;
    background-color: rgb(241, 241, 241,0.8);;
    transition: all 2.5s all;
  }
  .main-menu-item .switch_lang{
    padding-right: 0;
    padding-left: calc(45% + 20 * ((100vw - 320px) / (700 - 320)));

  }
  .main-menu-item .switch_lang a{
    text-decoration: none;
    color: black;
  }
  .search_button {
    width:56px;
    height:56px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    white-space:nowrap;
    margin-left: calc(0px + 220 * ((100vw - 320px) / (768 - 320)));
    
    button{
      width:56px;
      height:56px;
    
      border-radius: 50%;
      background: none;
      cursor: pointer;
    }
  }
  .inpute_search {
    width:45px;
    transform: scaleX(0);
    transition: all 0.5s linear;
    height:30px;
    border-radius: 20px;
    font-size: 16px;
    margin-left: 90px;
    &.active{
      width: calc(150px + 50 * ((100vw - 320px) / (768 - 320)));
      transform: scaleX(100%);
    
    }
  }
  .btn {
    transition: all 0.4s ease-in-out;
    margin:10px 30px 5px 40px;
    &:hover{
      background-color: #000000;
      color: #c005a7;
    }
  }

}

    @media screen and (max-width:768px) {

        .burger{
          display: block;
        }
      
    }