.intro {
  padding-top: 33px;
  .intro_object {
    display: flex;
    &:nth-child(2){
      width: 100%;
      padding-top: 120px;
      padding-bottom: 200px;
      margin: auto;
    }
  }
  .intro_item {

    width: 50%;
    text-align:left;
    margin: auto;
    &:nth-child(2){
      position: relative;
    }
  &:nth-child(1){
    margin-left: 105px;
    margin-right:150px;
  }
  }
  .intro_title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 1em;
    letter-spacing: 1px;

    color: #283337;

    
  }
  .subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.47em;
    color: #40494D;
    
    margin: 44px 100px 26px 0;
  }
  .btn {
    width: 218px;
    height: 56px;
    &:hover{

    }
  }
  .big_img {
    max-width: 100%;
    margin: auto;
  }
  .little_img {
    position: absolute;
    bottom: 0;
    
    &.little_img1{
      right: 13px;
      bottom: 199px;
    }
    &.little_img2{
      bottom:-60px;
      left: 90px;
    }
    &.little_img3{
      left: -100px;
      bottom:170px;
    }

  }
  .img_logo{
    max-width: 200px;
    margin: auto;
    &:nth-child(2){
      width: 200px;
      height: 69px;
    }
  }

}
@media screen and (max-width:1024px) {
  .intro {
    .intro_item {
      &:nth-child(1){
        margin-left:20px;
        margin-right:30px;
      }
    }
    .intro_title {
      font-size: 50px;
    }
    .subtitle {
      font-size: 16px;
    }
    .big_img {
      width: 80%;
    }
    .little_img {
      width: 18vw;;
      &.little_img1 {
        right:3vw;
        bottom:19vw;
        
      }
      &.little_img2 {
        left:13vw;
        bottom:-6vw;
      }
      &.little_img3 {
        left: -8vw;
        bottom: 13vw;
      }
    } 
  }
}

@media screen and (max-width:768px) {
   .intro {

    .intro_object {
      &:nth-child(2){
        padding-top: 0;
        padding-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
      }
    }
    .intro_item {
      font-size: 50px;
      &:nth-child(1){
        margin-left:0;
      }
    }
    .intro_title {
      font-size: 6vw;
    }
    .subtitle {
      font-size: 3vw;
      margin: 20px 8vw 10px 0;
    }
    .btn {
      width:20vw;
      height: 6vw;
      font-size: 2vw;
    }
    .big_img {
      margin-bottom: 11vw;
      width: 80%;
    }
    .little_img {
    
    &.little_img1 {
      right: 4vw;
      bottom: 32vw;
    }
    &.little_img2 {
      left: 13vw;
      bottom: 9vw;
    }
    &.little_img3 {
      left: -8vw;
      bottom: 29vw;
    }
  }
    .img_logo {
      display: block;
      width: 85px ;
      margin: auto;
    }
  }
}
@media screen and (max-width:320px) {
  .intro {

   .btn {
     width: 80px;
     height: 30px;
     font-size: 10px;
   }
   .subtitle {
    font-size: 3vw;
    margin: 10px 7vw 0 0;
  }
   .big_img {
     margin-bottom: 11vw;
     width: 80%;
   }
   .little_img {
   
   &.little_img1 {
     right: 2vw;
     bottom: 32vw;
   }
   &.little_img2 {
     left: 13vw;
     bottom: 9vw;
   }
   &.little_img3 {
     left: -8vw;
     bottom: 29vw;
   }
 }
 }
}