.TheProduct {
  background-color: #FFFF;
  padding: 80px 0;
  .TheProduct_inner{
    display: flex;
    padding: 0 160px 0 160px;
    
  }
    .TheProduct_item {
      width: 50%;
     
      
      
      .TheProduct_item_title {
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 1em;
        letter-spacing: 1px;
        color: #283337;
        padding:0 10px 0 0;
      }
      .TheProduct_item_subtitle{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 1.5em;
        margin-right: 128px;
        padding:28px 10px 39px 0;
        
        a{
          color: #40494D;
          font-weight: bold;
          transition: all .2s ease-in-out;
          &:hover{
            color: #61D7AC;
            text-decoration: none;
          }
        }
      }
    }
    .btn {
      height: 56px;
      width: 243px;
    }
    .TheProduct_container {
      background-color: #E4E4E4;
      margin: auto;
      padding: 80px 59px;
      margin-right: 0;

    }
    .TheProduct_container_title {
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 34px;
      margin-right: 10px;
      padding-top: 27px;
    }
    .TheProduct_container_subtitle {
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      margin-right:10px;
      padding:  51px 0  38px 0;
    }
    .Learn_More {
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      float: right;

      a{
        text-decoration: none;
        color: #283337;
        transition: all 0.2s ease;
        &:hover{
          color: #61D7AC;
        }
      }
    }
    .TheProduct_container_img{
      // width: 90px;
      // height: 90px;
    }
}

@media screen and (max-width:1024px) {
  .TheProduct {


    .TheProduct_inner {
      padding: 0 20px 0 20px;
    }
    .TheProduct_item {
    
      .TheProduct_item_title {
      }
      .TheProduct_item_subtitle {
        margin-right: 12vw;
      }
      .btn {
      }
      .btn-longer {
      }
      .TheProduct_container {
        padding: 70px 50px;
      }
      .TheProduct_container_img {
      }
      .TheProduct_container_title {
      }
      .TheProduct_container_subtitle {
        font-size: 15px;
      }
      .Learn_More {
      }
  }
  }
}

@media screen and (max-width:768px) {
  .TheProduct {
    .TheProduct_inner {
    }
    .TheProduct_item {
    }
    .TheProduct_item_title {
    }
    .TheProduct_item_subtitle {
    }
    .btn {
    }
    .btn-longer {
    }
    .TheProduct_container {
    }
    .TheProduct_container_img {
    }
    .TheProduct_container_title {
    }
    .TheProduct_container_subtitle {
    }
    .Learn_More {
    }
  }
}
@media screen and (max-width:320px) {
  .TheProduct {


    .TheProduct_inner {
    }
    .TheProduct_item {
    }
    .TheProduct_item_title {
    }
    .TheProduct_item_subtitle {
    }
    .btn {
    }
    .btn-longer {
    }
    .TheProduct_container {
    }
    .TheProduct_container_img {
    }
    .TheProduct_container_title {
    }
    .TheProduct_container_subtitle {
    }
    .Learn_More {
    }
  }
}