body {
  box-sizing: border-box;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  background-color: #E4E4E4;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.btn {
  width: 177px;
  height: 56px;
  border-radius: 40px;
  border: 0;
  color: white;
  background-color: #283337;
  cursor: pointer;
  font-size: 17px;
  line-height: 21px;
  transition: all 0.4s ease;
}
.btn:hover {
  background-color: #000000;
  color: #c005a7;
}

.btn-medium {
  width: 218px;
  height: 56px;
  border-radius: 40px;
  color: white;
  background-color: #283337;
  cursor: pointer;
  font-size: 17px;
  line-height: 21px;
}

.Learn_More {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.444em;
}
.Learn_More a {
  text-decoration: none;
  color: #283337;
  transition: all 0.2s ease;
}
.Learn_More a:hover {
  color: #61D7AC;
}

.nav {
  width: 100%;
  height: 120px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.nav .site_logo {
  margin: 40px 0 0 80px;
}
.nav .nav_inner {
  display: flex;
  justify-content: space-between;
}
.nav .nav_menu {
  display: flex;
  margin-top: 30px;
}

.nav {
  width: 100%;
  height: 120px;
  background-color: white;
}
.nav .nav_inner {
  display: flex;
  justify-content: space-between;
}
.nav .site_logo {
  margin: 40px 0 0 80px;
}
.nav .nav_menu {
  display: flex;
  margin-top: 30px;
}
.nav .nav_menu_item {
  padding: 25px;
}
.nav .nav_menu_item a {
  text-align: center;
  text-decoration: none;
  color: #000000;
  transition: all 0.5s ease;
}
.nav .nav_menu_item a:hover {
  opacity: 0.6;
}
.nav .nav_button {
  display: flex;
  margin-top: 30px;
  white-space: nowrap;
}
.nav .search_button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}
.nav .search_button button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.nav .search_button button .search_icon {
  width: 18px;
  height: 18px;
  transition: all 0.4s ease;
}
.nav .search_button button:hover .search_icon {
  fill: #61D7AC;
}
.nav .search_button button:hover {
  border: 2px solid #61D7AC;
}
.nav .inpute_search {
  transform: scaleX(0);
  transition: all 0.5s linear;
  height: 30px;
  padding: 0px 5px 0 5px;
  border-radius: 20px;
  font-size: 16px;
  width: 0;
}
.nav .inpute_search.active {
  transform: scaleX(100%);
  width: 180px;
}
.nav .btn {
  transition: all 0.4s ease-in-out;
  margin: 0 30px 20px 40px;
}
.nav .btn.active {
  background-color: none;
  color: none;
  border: none;
  transform: scaleX(0);
}

@media screen and (max-width: 1024px) {
  .nav .site_logo {
    margin-left: 10px;
    margin-right: 10px;
  }
  .nav .nav_menu_item {
    padding: 25px 10px 25px 5px;
  }
  .nav .btn {
    margin: 0 10px 30px 30px;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
.burger {
  display: none;
  background-color: #F1F1F1;
  text-align: center;
  color: black;
  position: relative;
  width: calc(320px + 1120 * (100vw - 320px) / 1120);
  height: 40px;
}
.burger #check-menu {
  display: none;
}
.burger #check-menu:checked ~ .main-menu {
  max-height: 500px;
  font-size: 16px;
}
.burger #check-menu:checked ~ .burger-line-1 {
  display: none;
}
.burger #check-menu:checked ~ .burger-line-2 {
  transform: rotate(45deg);
}
.burger #check-menu:checked ~ .burger-line-3 {
  transform: rotate(-45deg);
}
.burger #check-menu:checked ~ .burger-line-4 {
  display: none;
}
.burger .burger img {
  width: 100px;
  position: absolute;
  top: 5px;
  left: calc(120px + 580 * (100vw - 320px) / 1120);
}
.burger .nav_content_block {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}
.burger .burger-line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: black;
  transition: all 0.8s ease;
}
.burger .burger-line-2, .burger .burger-line-3 {
  top: 18px;
}
.burger .burger-line-4 {
  top: 28px;
}
.burger .main-menu {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  z-index: 1000;
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 0.8s ease;
}
.burger .main-menu-item {
  display: block;
  width: 100%;
  padding: 10px 0;
  color: black;
  text-decoration: none;
  background-color: rgba(241, 241, 241, 0.8);
  transition: all 2.5s all;
}
.burger .main-menu-item .switch_lang {
  padding-right: 0;
  padding-left: calc(45% + 20 * (100vw - 320px) / 380);
}
.burger .main-menu-item .switch_lang a {
  text-decoration: none;
  color: black;
}
.burger .search_button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  white-space: nowrap;
  margin-left: calc(0px + 220 * (100vw - 320px) / 448);
}
.burger .search_button button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}
.burger .inpute_search {
  width: 45px;
  transform: scaleX(0);
  transition: all 0.5s linear;
  height: 30px;
  border-radius: 20px;
  font-size: 16px;
  margin-left: 90px;
}
.burger .inpute_search.active {
  width: calc(150px + 50 * (100vw - 320px) / 448);
  transform: scaleX(100%);
}
.burger .btn {
  transition: all 0.4s ease-in-out;
  margin: 10px 30px 5px 40px;
}
.burger .btn:hover {
  background-color: #000000;
  color: #c005a7;
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
}
.intro {
  padding-top: 33px;
}
.intro .intro_object {
  display: flex;
}
.intro .intro_object:nth-child(2) {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 200px;
  margin: auto;
}
.intro .intro_item {
  width: 50%;
  text-align: left;
  margin: auto;
}
.intro .intro_item:nth-child(2) {
  position: relative;
}
.intro .intro_item:nth-child(1) {
  margin-left: 105px;
  margin-right: 150px;
}
.intro .intro_title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 1em;
  letter-spacing: 1px;
  color: #283337;
}
.intro .subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.47em;
  color: #40494D;
  margin: 44px 100px 26px 0;
}
.intro .btn {
  width: 218px;
  height: 56px;
}
.intro .big_img {
  max-width: 100%;
  margin: auto;
}
.intro .little_img {
  position: absolute;
  bottom: 0;
}
.intro .little_img.little_img1 {
  right: 13px;
  bottom: 199px;
}
.intro .little_img.little_img2 {
  bottom: -60px;
  left: 90px;
}
.intro .little_img.little_img3 {
  left: -100px;
  bottom: 170px;
}
.intro .img_logo {
  max-width: 200px;
  margin: auto;
}
.intro .img_logo:nth-child(2) {
  width: 200px;
  height: 69px;
}

@media screen and (max-width: 1024px) {
  .intro .intro_item:nth-child(1) {
    margin-left: 20px;
    margin-right: 30px;
  }
  .intro .intro_title {
    font-size: 50px;
  }
  .intro .subtitle {
    font-size: 16px;
  }
  .intro .big_img {
    width: 80%;
  }
  .intro .little_img {
    width: 18vw;
  }
  .intro .little_img.little_img1 {
    right: 3vw;
    bottom: 19vw;
  }
  .intro .little_img.little_img2 {
    left: 13vw;
    bottom: -6vw;
  }
  .intro .little_img.little_img3 {
    left: -8vw;
    bottom: 13vw;
  }
}
@media screen and (max-width: 768px) {
  .intro .intro_object:nth-child(2) {
    padding-top: 0;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  .intro .intro_item {
    font-size: 50px;
  }
  .intro .intro_item:nth-child(1) {
    margin-left: 10px;
    margin-right: 10px;
  }
  .intro .intro_title {
    font-size: 6vw;
  }
  .intro .subtitle {
    font-size: 3vw;
    margin: 20px 8vw 10px 0;
  }
  .intro .btn {
    width: 20vw;
    height: 6vw;
    font-size: 2vw;
  }
  .intro .big_img {
    margin-bottom: 11vw;
    width: 80%;
  }
  .intro .little_img.little_img1 {
    right: 4vw;
    bottom: 32vw;
  }
  .intro .little_img.little_img2 {
    left: 13vw;
    bottom: 9vw;
  }
  .intro .little_img.little_img3 {
    left: -8vw;
    bottom: 29vw;
  }
  .intro .img_logo {
    display: block;
    width: 85px;
    margin: auto;
  }
}
@media screen and (max-width: 320px) {
  .intro .img_logo:nth-child(2):nth-child(2) {
    width: 120px;
    height: 53px;
  }
  .intro .btn {
    width: 80px;
    height: 30px;
    font-size: 10px;
  }
  .intro .subtitle {
    font-size: 3vw;
    margin: 10px 7vw 0 0;
  }
  .intro .big_img {
    margin-bottom: 11vw;
    width: 80%;
  }
  .intro .little_img.little_img1 {
    right: 2vw;
    bottom: 32vw;
  }
  .intro .little_img.little_img2 {
    left: 13vw;
    bottom: 9vw;
  }
  .intro .little_img.little_img3 {
    left: -8vw;
    bottom: 29vw;
  }
}
.TheProduct {
  background-color: white;
  padding: 80px 0;
}
.TheProduct .TheProduct_inner {
  display: flex;
  padding: 0 160px 0 160px;
}
.TheProduct .TheProduct_item {
  width: 50%;
}
.TheProduct .TheProduct_item .TheProduct_item_title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 1em;
  letter-spacing: 1px;
  color: #283337;
  padding: 0 10px 0 0;
}
.TheProduct .TheProduct_item .TheProduct_item_subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5em;
  margin-right: 128px;
  padding: 28px 10px 39px 0;
}
.TheProduct .TheProduct_item .TheProduct_item_subtitle a {
  color: #40494D;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.TheProduct .TheProduct_item .TheProduct_item_subtitle a:hover {
  color: #61D7AC;
  text-decoration: none;
}
.TheProduct .btn {
  height: 56px;
  width: 243px;
}
.TheProduct .TheProduct_container {
  background-color: #E4E4E4;
  margin: auto;
  padding: 80px 59px;
  margin-right: 0;
}
.TheProduct .TheProduct_container_title {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 0.94em;
  margin-right: 10px;
  padding-top: 27px;
}
.TheProduct .TheProduct_container_subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7em;
  margin-right: 10px;
  padding: 51px 0 38px 0;
}
.TheProduct .Learn_More {
  float: right;
}

@media screen and (max-width: 1024px) {
  .TheProduct .TheProduct_inner {
    padding: 0 20px 0 20px;
  }
  .TheProduct .TheProduct_item .TheProduct_item_subtitle {
    margin-right: 12vw;
  }
  .TheProduct .TheProduct_item .TheProduct_container {
    padding: 70px 50px;
  }
  .TheProduct .TheProduct_item .TheProduct_container_subtitle {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .TheProduct .TheProduct_inner {
    padding: 0px 15px 0 15px;
  }
  .TheProduct .TheProduct_item .TheProduct_item_title {
    font-size: 6vw;
  }
  .TheProduct .TheProduct_item .TheProduct_item_subtitle {
    margin-right: 8vw;
    font-size: 2vw;
  }
  .TheProduct .TheProduct_item .btn {
    font-size: 2vw;
    width: 29vw;
    height: 9vw;
  }
  .TheProduct .TheProduct_item .TheProduct_container {
    padding: 30px 5vw;
  }
  .TheProduct .TheProduct_item .TheProduct_container_img {
    width: 60px;
    height: 60px;
  }
  .TheProduct .TheProduct_item .TheProduct_container_title {
    font-size: 4.4vw;
    padding-top: 10px;
  }
  .TheProduct .TheProduct_item .TheProduct_container_subtitle {
    font-size: 2vw;
    padding: 4vw 0 2vw 0;
  }
  .TheProduct .TheProduct_item .Learn_More {
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 320px) {
  .TheProduct .TheProduct_inner {
    padding: 0 10px 0 10px;
  }
  .TheProduct .TheProduct_item .TheProduct_item_title {
    font-size: 40px;
  }
  .TheProduct .TheProduct_item .TheProduct_item_subtitle {
    font-size: 10px;
    line-height: 1.5em;
    margin-right: 0;
  }
  .TheProduct .TheProduct_item .btn {
    font-size: 10px;
    height: 40px;
    width: 130px;
  }
  .TheProduct .TheProduct_item .TheProduct_container {
    padding: 30px 10px;
  }
  .TheProduct .TheProduct_item .TheProduct_container_img {
    width: 40px;
    height: 40px;
  }
  .TheProduct .TheProduct_item .TheProduct_container_title {
    font-size: 18px;
    margin-right: 0;
    padding-top: 10px;
  }
  .TheProduct .TheProduct_item .TheProduct_container_subtitle {
    font-size: 10px;
    line-height: 1.7em;
    padding: 30px 0 15px 0;
  }
  .TheProduct .TheProduct_item .Learn_More {
    font-size: 12px;
  }
}
.OurResults .OurResults_title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 1em;
  margin-top: 220px;
  text-align: center;
  letter-spacing: 1px;
  color: #283337;
}
.OurResults .OurResults_group {
  display: flex;
}
.OurResults .OurResults_item {
  width: 33.33333%;
}
.OurResults .OurResults_item_title {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.34em;
  margin: 76px 0 19px 0;
  text-align: center;
  color: #283337;
}
.OurResults .OurResults_item_subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0 120px 140px 120px;
  text-align: center;
  color: #40494D;
}

@media screen and (max-width: 1024px) {
  .OurResults .OurResults_title {
    margin-top: 17vw;
  }
  .OurResults .OurResults_item_subtitle {
    padding: 0 6vw 9vw 7vw;
  }
}
@media screen and (max-width: 768px) {
  .OurResults .OurResults_title {
    margin-top: 19vw;
    font-size: 8vw;
  }
  .OurResults .OurResults_item_title {
    font-size: 8vw;
  }
  .OurResults .OurResults_item_subtitle {
    padding: 0 6vw 12vw 7vw;
    font-size: 2vw;
  }
}
@media screen and (max-width: 320px) {
  .OurResults .OurResults_title {
    margin-top: 25vw;
  }
  .OurResults .OurResults_item_subtitle {
    padding: 0 6vw 25vw 7vw;
  }
}
.Difference {
  background-color: white;
}
.Difference .Difference_inner {
  display: flex;
  padding: 0 80px;
}
.Difference .Difference_item {
  width: 50%;
  margin-top: 422px;
}
.Difference .Difference_title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 1em;
  letter-spacing: 1px;
  padding-bottom: 43px;
  margin-right: 320px;
}
.Difference .Difference_subtitle {
  margin-right: 219px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  color: #40494D;
}
.Difference .ourDifferences {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 127%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.Difference .ourDifferences dt {
  padding: 24px 0;
}
.Difference .ourDifferences dd {
  padding-left: 30px;
  padding-bottom: 12px;
}
.Difference .Learn_More {
  padding-top: 12px;
}
.Difference .Difference_video {
  width: 550px;
  height: auto;
  padding: 81px 0;
}

@media screen and (max-width: 1024px) {
  .Difference .Difference_inner {
    padding: 0 40px;
  }
  .Difference .Difference_item {
    margin-top: 20vw;
  }
  .Difference .Difference_item:nth-child(1) {
    width: 40%;
    height: 60%;
  }
  .Difference .Difference_title {
    font-size: 5vw;
    margin-right: 10vw;
  }
  .Difference .Difference_subtitle {
    margin-right: 13vw;
    font-size: 1.7vw;
  }
  .Difference .ourDifferences {
    font-size: 1.2vw;
  }
  .Difference .ourDifferences dt {
    padding: 2em 0;
  }
  .Difference .ourDifferences dd {
    padding-bottom: 1.5em;
  }
  .Difference .Learn_More {
    font-size: 1.8vw;
    padding-top: 1.5em;
  }
  .Difference .Difference_video {
    width: 50vw;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .Difference .Difference_inner {
    display: block;
    padding: 0;
  }
  .Difference .Difference_item {
    text-align: center;
    width: 100%;
  }
  .Difference .Difference_item:nth-child(1) {
    width: 100%;
  }
  .Difference .Difference_item:nth-child(2) {
    margin-top: 0;
    width: 100%;
  }
  .Difference .Difference_title {
    padding-bottom: 7vw;
    padding-top: 7vw;
    margin-right: 0;
  }
  .Difference .Difference_subtitle {
    font-size: 3vw;
    margin-right: 0;
    padding: 0 40px;
  }
  .Difference .ourDifferences {
    font-size: 1.8vw;
  }
  .Difference .ourDifferences dt {
    padding: 3em 0;
    font-size: 2vw;
    font-weight: bold;
  }
  .Difference .ourDifferences dd {
    padding: 0 0 1em 0;
  }
  .Difference .Difference_video {
    padding: 20px 0;
    width: 75vw;
    height: auto;
    margin: auto;
  }
}
.BuiltFor {
  background-color: #fff;
}
.BuiltFor .BuiltFor_group:nth-child(2) {
  display: flex;
  justify-content: space-around;
}
.BuiltFor .BuiltFor_title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 103%;
  text-align: center;
  letter-spacing: 1px;
  color: #283337;
  padding-top: 40px;
}
.BuiltFor .BuiltFor_item {
  padding: 86px 0 150px 0;
}

@media screen and (max-width: 768px) {
  .BuiltFor .BuiltFor_title {
    font-size: 7vw;
    color: #283337;
    padding-top: 7vw;
  }
  .BuiltFor .BuiltFor_item {
    width: auto;
    height: 12vw;
    padding: 10vw 0 15vw 0;
  }
}
.RequestDemo .RequestDemo_inner {
  text-align: center;
  padding: 150px 260px;
}
.RequestDemo .RequestDemo_title {
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 1px;
  color: #283337;
}
.RequestDemo .RequestDemo_subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 109%;
  color: #283337;
  padding: 48px 0;
}
@media screen and (max-width: 1024px) {
  .RequestDemo .RequestDemo_inner {
    padding: 11vw 20vw;
  }
  .RequestDemo .RequestDemo_title {
    font-size: 5vw;
  }
  .RequestDemo .RequestDemo_subtitle {
    font-size: 2.7vw;
    padding: 4vw 0;
  }
  .RequestDemo .btn {
    width: 16vw;
    height: 5vw;
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 768px) {
  .RequestDemo .RequestDemo_inner {
    padding: 14vw 14vw;
  }
  .RequestDemo .RequestDemo_title {
    font-size: 6vw;
  }
  .RequestDemo .RequestDemo_subtitle {
    font-size: 3;
    padding: 4vw 0;
  }
  .RequestDemo .btn {
    width: 18vw;
    height: 6vw;
    font-size: 2vw;
    line-height: 50%;
  }
}
@media screen and (max-width: 320px) {
  .RequestDemo .RequestDemo_inner {
    padding: 20vw 14vw;
  }
  .RequestDemo .RequestDemo_title {
    font-size: 6vw;
  }
  .RequestDemo .RequestDemo_subtitle {
    font-size: 3.5vw;
    padding: 4vw 0;
  }
  .RequestDemo .btn {
    width: 18vw;
    height: 6vw;
    font-size: 2.1vw;
  }
}
.footer {
  background-color: #101C21;
  color: white;
  padding: 0 80px;
}
.footer .footer_inner {
  display: flex;
}
.footer .footer_group:nth-child(1) {
  width: 40%;
}
.footer .footer_group:nth-child(1) .footer_column:nth-child(2) {
  padding: 0 0 30px 0;
}
.footer .footer_group:nth-child(2) {
  width: 60%;
}
.footer .footer_column {
  padding: 100px 0 30px 0;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.footer .footer_column dt {
  color: #878D90;
  padding-bottom: 16px;
}
.footer .footer_column dd {
  padding-bottom: 8px;
}
.footer .footer_column dd a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}
.footer .footer_column dd a:hover {
  opacity: 0.8;
}
.footer .footer_item:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.footer .footer_title {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
}
.footer .footer_input input {
  width: 460px;
  padding: 15px 10px;
  border-radius: 6px;
  margin: 32px 10px 0 0;
}
.footer .footer_input .btn {
  width: 160px;
}
.footer .footer_group_row {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 20px 0;
}
.footer .footer_social .social_icon {
  width: 16px;
  height: 16px;
  margin-right: 20px;
  fill: #9FA4A6;
  transition: all 0.3s ease;
}
.footer .footer_social .social_icon:hover {
  fill: #61D7AC;
}
.footer .footer_row {
  display: inherit;
}
.footer .footer_row:nth-child(2) a {
  margin-right: 20px;
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease;
}
.footer .footer_row:nth-child(2) a:hover {
  color: #878D90;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 0px 5vw;
  }
  .footer .footer_group .footer_input {
    display: flex;
  }
  .footer .footer_group .footer_input .btn {
    margin-top: 32px;
  }
  .footer .footer_group_row {
    font-size: 1.757vw;
  }
  .footer .footer_social .social_icon {
    width: 2vw;
    height: 2vw;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 0px 3vw;
  }
  .footer .footer_inner {
    display: block;
  }
  .footer .footer_group:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .footer .footer_group:nth-child(1) .footer_column:nth-child(2) {
    padding: 135px 0 30px 0;
  }
  .footer .footer_group:nth-child(2) {
    width: 100%;
  }
  .footer .footer_group:nth-child(2) .footer_column {
    padding: 50px 0 30px 0;
  }
  .footer .footer_group .btn-medium {
    margin-top: 130px;
  }
  .footer .footer_group .footer_group_row {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 463px) {
  .footer .footer_group {
    text-align: center;
  }
  .footer .footer_group:nth-child(1) {
    display: block;
  }
  .footer .footer_group:nth-child(1) .footer_column:nth-child(2) {
    padding: 10px 0 10px 0;
  }
  .footer .footer_group:nth-child(2) .footer_column {
    padding: 10px 0 10px 0;
  }
  .footer .footer_group:nth-child(2) .footer_column:nth-child(1) {
    padding-top: 20px;
  }
  .footer .footer_group .footer_column {
    padding: 10px 0 10px 0;
  }
  .footer .footer_group .footer_column:nth-child(2) {
    padding: 10px 0 0 0;
  }
  .footer .footer_group .footer_column dt {
    padding-bottom: 12px;
  }
  .footer .footer_group .btn-medium {
    margin-top: 5px;
  }
  .footer .footer_group .footer_item {
    display: block;
  }
  .footer .footer_group .footer_item img {
    display: none;
  }
  .footer .footer_group .footer_input input {
    width: 60vw;
  }
  .footer .footer_group_row .footer_social .social_icon {
    width: 3vw;
    height: 4vw;
  }
}