body {
  box-sizing: border-box;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  background-color: #d7aa2b;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.nav {
  width: 100%;
  height: 120px;
  background-color: white;
}
.nav .site_logo {
  margin: 40px 0 0 80px;
}
.nav .nav_inner {
  display: flex;
  justify-content: space-between;
}
.nav .nav_menu {
  display: flex;
  margin-top: 30px;
}
.nav .nav_menu .nav_menu_item {
  padding: 25px;
}
.nav .nav_menu .nav_menu_item a {
  text-align: center;
  text-decoration: none;
  color: #000000;
  transition: all 0.5s ease;
}
.nav .nav_menu .nav_menu_item a:hover {
  opacity: 0.6;
}
.nav .nav_button {
  display: flex;
  margin-top: 30px;
}
.nav .search_button button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}
.nav .search_button input {
  transform: scaleX(0);
}
.nav .btn {
  transition: all 0.4s ease-in-out;
}
.nav .btn:hover {
  background-color: #000000;
  color: #c005a7;
}

.btn {
  width: 177px;
  height: 56px;
  border-radius: 40px;
  color: white;
  background-color: #283337;
  cursor: pointer;
  font-size: 17px;
  line-height: 21px;
}